volumes/db/data
volumes/storage
volumes/snippets
volumes/functions/**
!volumes/functions/main/
volumes/functions/main/**
!volumes/functions/main/index.ts
!volumes/functions/locale-detect/
volumes/functions/locale-detect/**
!volumes/functions/locale-detect/index.ts
!volumes/functions/stripe-webhook/
volumes/functions/stripe-webhook/**
!volumes/functions/stripe-webhook/index.ts
!volumes/functions/stripe-billing/
volumes/functions/stripe-billing/**
!volumes/functions/stripe-billing/index.ts
!volumes/functions/resend-webhook/
volumes/functions/resend-webhook/**
!volumes/functions/resend-webhook/index.ts
!volumes/functions/unsubscribe/
volumes/functions/unsubscribe/**
!volumes/functions/unsubscribe/index.ts
.env
test.http
docker-compose.override.yml
.supabase-version
backups